/* Tampilan Mobile atau Small*/
.navbar{
  align-items: center;
   background-color: #06D6A0;
   color: white;
   padding: 1rem;
}

.navbar__container{
   align-items: center;
   display: flex;
   justify-content: space-between;
}

.navbar__logo{
   cursor: pointer;
}

.navbar__listItems{
   list-style: none;
   text-align: center;
   padding: 1rem 0;
}

.navbar__item{
   margin: 0.5rem 0.2rem;
   cursor: pointer;
   
}

.navbar__button{
  padding: 0.3rem 0.8rem;
  background-color: white;
  color: #06D6A0;
  border: white 1px solid;
  border-radius: 5px;
}

/* Tampilan Tablet atau Medium*/
@media(min-width:768px){
  .navbar__container{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #06D6A0;
    color: white;
 }
   .navbar__item{
    margin:0 0.5rem 0;
   }

   .navbar__logo{
    margin: 0 2rem;
   }
   
   .navbar__listItems{
    margin: 0 1rem;  
    display: flex;
   }

   .navbar__visibility{
    display: none;
  }
}