.global__container{
   text-align: center;
   background-color: #F8F9FA;
   padding: 2rem 1rem;
}

.global__title{
   color: #06D6A0;
}

.global__subTitle{
   color: #118AB2;
}

@media(min-width:768px){
   .global__container{
      padding: 4rem 2rem;
   }

   .global__groups{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }
}

@media(min-width:992px){
   .global__container{
      padding: 4rem 2rem;
   }

   .global__groups{
      display: flex;
      justify-content: center;
   }

   .global__group{
      transition: all 0.3s;
      flex-basis: 25%;
      margin: 2rem 0.5rem;
      border-radius: 10px;
   }

   .global__group:hover{
      transform: scale(1.02);
   }
}